table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: lightblue; /* لون واضح جداً للتجربة */
}

th:last-child, td:last-child {
    text-align: right;
}